<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'buku' %}">Manajemen Buku & Kategori</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'buku' %}"><i class="fa fa-book"></i> Manajemen Buku</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'kategori' %}"><i class="fa fa-list"></i> Manajemen Kategori</a>
                </li>
            </ul>
        </div>
    </div>
</nav>